doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Piroll
        link(href="https://fonts.googleapis.com/css?family=Montserrat:500|Nunito+Sans|Work+Sans&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="../css/01_One-page.min.css")
    body
        include layouts/01_One-Page/_01-header.pug
        include layouts/01_One-Page/_02-slider.pug
        include layouts/01_One-Page/_03-about.pug
        include layouts/01_One-Page/_04-skills.pug
        include layouts/01_One-Page/_05-numbers.pug
        include layouts/01_One-Page/_06-work.pug
        include layouts/01_One-Page/_07-work-process.pug
        include layouts/01_One-Page/_08-services.pug
        include layouts/01_One-Page/_09-testimonials.pug
        include layouts/01_One-Page/_10-clients.pug
        include layouts/01_One-Page/_11-form.pug
        include layouts/_footer.pug


