doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Piroll
        link(href="https://fonts.googleapis.com/css?family=Montserrat:500|Nunito+Sans|Work+Sans&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="../css/02_Home.min.css")
    body
        include layouts/_header.pug
        include layouts/02_Home/_01-hero.pug
        include layouts/02_Home/_02-work.pug
        include layouts/_footer.pug
        