doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Piroll
        link(href="https://fonts.googleapis.com/css?family=Montserrat:500|Nunito+Sans|Work+Sans&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="../css/03_About.min.css")
    body
        include layouts/_header.pug
        include layouts/03_About/_01-banner.pug
        include layouts/01_One-Page/_05-numbers.pug
        include layouts/03_About/_02-aboutMe.pug
        include layouts/03_About/_03-need.pug
        include layouts/_footer.pug
        