doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Piroll
        link(href="https://fonts.googleapis.com/css?family=Montserrat:500|Nunito+Sans|Work+Sans&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="../css/04_Project-single.min.css")
    body
        include layouts/_header.pug
        include layouts/04_Project-Single/_01-content.pug
        include layouts/04_Project-Single/_02-button.pug
        include layouts/_footer.pug
        