doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Piroll
        link(href="https://fonts.googleapis.com/css?family=Montserrat:500|Nunito+Sans|Work+Sans&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="../css/all-in-one.min.css")
    body
        .title 
            h1 Piroll
        .links
            ul
                li 
                    a(href="01_One-page.min.html") 01_One-page
                li 
                    a(href="02_Home.min.html") 02_Home
                li 
                    a(href="03_About.min.html") 03_About
                li 
                    a(href="04_Project-single.min.html") 04_Project-single
                li 
                    a(href="05_Contact.min.html") 05_Contact