header
    .header.container.row
        .logo
            img(src="../images/01_One-Page/logo.png", alt="logo")
        .nav
            ul
                li
                    a.is--active(href="#") home
                li
                    a(href="#") about
                li
                    a(href="#") work
                li
                    a(href="#") process
                li
                    a(href="#") services
                li
                    a(href="#") testmonials
                li
                    a(href="#") contact
        .sandwich.column
            .line
            .line
            .line
                    