section.skills
    .skill.row
        .left.column
            h2 Professional Skills
            ul.column
                li
                    h3 UI/UX Design    
                        span 75%
                    .bar
                        .one
                li
                    h3 web development    
                        span 90%   
                    .bar
                        .two
                li
                    h3 marketing       
                        span 65%
                    .bar
                        .three
        .right
            img(src="../images/01_One-Page/here.png", alt="")