section.numbers
    .container
        .number.row
            .one.row
                img(src="../images/01_One-Page/cartable.png", alt=".png")
                .text
                    p 548
                    p projects completed
            .one.row
                img(src="../images/01_One-Page/clock.png", alt=".png")
                .text
                    p 1465
                    p WORKING HOURS
            .one.row
                img(src="../images/01_One-Page/star.png", alt=".png")
                .text
                    p 612
                    p POSITIVE FEEDBACKS
            .one.row
                img(src="../images/01_One-Page/like.png", alt=".png")
                .text
                    p 735
                    p HAPPY CLIENTS