section.works.row
    .work
        img(src="../images/01_One-Page/look.png", alt="")
    .work
        img(src="../images/01_One-Page/look.png", alt="")
    .work
        img(src="../images/01_One-Page/look.png", alt="")
    .work
        img(src="../images/01_One-Page/look.png", alt="")
    .work
        img(src="../images/01_One-Page/look.png", alt="")
    .work
        img(src="../images/01_One-Page/look.png", alt="")
    .work
        img(src="../images/01_One-Page/look.png", alt="")
    .work
        img(src="../images/01_One-Page/look.png", alt="")
    
    a(href="#") load more work
