section.services
    .container
        .serve.row
            .service
                img(src="../images/01_One-Page/diamond.png", alt="")
                h4 ui / ux design
                p Be set fourth land god darkness 
                    |make it wherein own
            .service
                img(src="../images/01_One-Page/arc.png", alt="")
                h4 web development
                p A she'd them bring void moving 
                    |third she'd kind fill
            .service
                img(src="../images/01_One-Page/phone.png", alt="")
                h4 app / mobile
                p Dominion man second spirit he,
                    |earth they're creeping
            .service
                img(src="../images/01_One-Page/joy.png", alt="")
                h4 game design
                p Morning his saying moveth it 
                    |multiply appear life be
            .service
                img(src="../images/01_One-Page/plane.png", alt="")
                h4 SEO / marketing
                p Give won't after land fill creeping 
                    |meat you, may
            .service
                img(src="../images/01_One-Page/star2.png", alt="")
                h4 photography
                p Creepeth one seas cattle grass 
                    |give moving saw give
            .service
                img(src="../images/01_One-Page/magic.png", alt="")
                h4 graphic design
                p Open, great whales air rule for, 
                    |fourth life whales
            .service
                img(src="../images/01_One-Page/paint-bucket.png", alt="")
                h4 illustrations
                p Whales likeness hath, man kind 
                    |for them air two won't