section.clients
    .container
        .myClient.row
            .client
                img(src="../images/01_One-Page/1.png", alt="")
            .client
                img(src="../images/01_One-Page/2.png", alt="")
            .client
                img(src="../images/01_One-Page/3.png", alt="")
            .client
                img(src="../images/01_One-Page/4.png", alt="")
            .client
                img(src="../images/01_One-Page/5.png", alt="")