section.form
    .container
        .forms.column
            h2 Need a Project?
            p Let us know what you're looking for in an agency. We'll take a look and see 
                |if this could be the start of something beautiful.
            form.column
                .first_line.row
                    input(type="text", placeholder="Your Name")
                    input(type="email", placeholder="Your Email")
                input.title(type="text", placeholder="Your title")
                textarea(placeholder="Your Comment")
                button send message