section.hero
    .container
        .heros.column
            h1 UI/UX &amp; Graphic Designer
            p I am a Graphic &amp; Web Designer based in New York, specializing 
                |in User Interface Design and Development.