section.works
    .wor.row
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
        .work.row
            img(src="../images/01_One-Page/look.png", alt="")
    

