section.content
    .cont.row
        .left
            h1 Light Breakfast
            p Light his can't a creeping. Be, bring blessed night. Replenish 
                |blessed creature good. Saw earth every creepeth lights day, 
                |divided abundantly form. In. Said given lights. Sixth the male. 
                |Upon their multiply. Kind beast. Him tree upon. 

            p Cattle. Dominion day herb she'd creeping divide darkness. 
                |Which. Subdue had.
            .info
                p Client:  
                    span Emma Morris
                p Date:   
                    span 25.06.2017
                p Share:  
                    span Facebook, Twitter, Pinterest
        .right
        