section.button
    .container
        .arrow.row
            .left
                a(href="#") < previous project
            .middle.row
                .box
                .box
                .box
                .box
            .right
                a(href="#") next project > 