.is--active{
    color: rgb(16, 201, 195) !important;
}

.btn-active{
    border-radius: 50% !important;
    background-color: rgb(255, 255, 255) !important;
    width: 10px !important;
    height: 10px !important;      
}