footer
    .container
        .foot.row
            .one
                h2 Piroll Design, Inc.
                p &copy; 2017 Piroll. All rights reserved. 
                    |Designed by robirurk.
            .two
                p hello@pirolltheme.com
                p +44 987 065 908 
            .three.row
                ul.un.column
                    li 
                        a(href="#") Projects
                    li
                        a(href="#") About
                    li
                        a(href="#") Services
                    li
                        a(href="#") Carreer
                ul.deux.column
                    li
                        a(href="#") News
                    li
                        a(href="#") Events
                    li
                        a(href="#") Contact
                    li 
                        a(href="#") Legals
                ul.trois.column
                    li 
                        a(href="#") Facebook
                    li
                        a(href="#") Twitter
                    li
                        a(href="#") Instagram
                    li 
                        a(href="#") Dribbble
                