section.contact
    .container
        .cont.row
            .left
                h1 Contact Info:
                p To give give beginning divide, cattle. Give moving 
                    |won't, there the abundantly she'd she'd brought air 
                    |upon. Light hath subdue. Life days creature upon 
                    |first heaven gathering dry.
                .info
                    p Address:  
                        span 10111 Santa Monica Boulevard, LA
                    p Phone:  
                        span +44 987 065 908
                    p Email:  
                        span info@Example.com
                    p Fax:  
                        span +44 987 065 909
            .right
                form.column
                    .first-line.row
                        input(type="text", placeholder="Your Name")
                        input(type="email", placeholder="Your Email")
                    input(type="text", placeholder="Your Title")
                    textarea(placeholder="Your Comment")
                    button send message
