.numbers{
    background-color: #10c9c3;
    .number{
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
        .one{
            padding-right: 60px;
            img{
                margin-right: 30px;
            }
            p:nth-of-type(1){
                font-size: 18px;
                font-family: $mon;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 1.667;
                text-align: left;                  
            }
            p:nth-of-type(2){
                font-size: 12px;
                font-family: $mon;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 2.5;                  
            }
        }
    }
    @media screen and(max-width: 800px){
        .number{
            flex-wrap: wrap;
        }
    }
}